/* =======================
   FONTS
======================= */
@font-face {
    font-family: 'Lalezar';
    src: url('fonts/Lalezar-Regular.woff') format('woff2');
}

@font-face {
    font-family: 'Bahman';
    src: url('fonts/ig6_bahman_(2).ttf') format('woff2');
}

@font-face {
    font-family: 'BMORVARID';
    src: url('fonts/BMORVARD.woff2') format('truetype');
}

@font-face {
    font-family: 'Minecraft';
    src: url('fonts/minecraft.ttf') format('woff2');
}

/* =======================
   GLOBAL STYLES
======================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #0f2027, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bahman', sans-serif;
    color: white;
}

/* =======================
   CONTAINER
======================= */
.container {
    background: rgba(0,0,0,0.65);
    padding: 35px;
    border-radius: 25px;
    width: 380px;
    max-width: 95%;
    text-align: center;
    box-shadow: 0 0 60px cyan;
    animation: glow 4s infinite alternate;
}

@keyframes glow {
    from { box-shadow: 0 0 30px cyan; }
    to   { box-shadow: 0 0 70px magenta; }
}

/* =======================
   HEADINGS & BUTTONS
======================= */
h1 {
    margin-bottom: 25px;
    color: #00ffff;
    font-family: 'Lalezar', sans-serif;
    font-size: 28px;
}

button {
    margin-top: 20px;
    padding: 16px;
    width: 100%;
    font-size: 22px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, blue, red);
    color: black;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px;
    color: #0EDFE4;
}

/* =======================
   INPUTS
======================= */
input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    font-family: 'BMORVARID', sans-serif;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    text-align: center;
}

/* =======================
   RESULT & ERROR
======================= */
#result {
    margin-top: 30px;
    font-family: 'Minecraft', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: yellow;
    min-height: 70px;
}

#error {
    margin-top: 1px;
    color: red;
    font-size: 16px;
}

/* =======================
   FOOTER
======================= */
footer {
    margin-top: 1px;
    font-size: 15px;
    opacity: 0.7;
    font-family: 'Lalezar', sans-serif;
}